<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Autofill Issue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Autofill Issue</ion-title>
    </ion-toolbar>
  </ion-header>

  <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="submit()">
    <ion-list lines="none">
			<ion-item lines="inset">
				<ion-label position="floating">Username</ion-label>
				<ion-input type="text" formControlName="username"></ion-input>
			</ion-item>
			<ion-item lines="inset">
				<ion-label position="floating">Password</ion-label>
				<ion-input type="password" formControlName="password"></ion-input>
			</ion-item>
      </ion-list>
      <ion-button type="submit" expand="block" color="primary" class="ion-margin" [disabled]="formGroup.invalid">Login</ion-button>
  </form>
</ion-content>
